@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

@page {
  margin: 0;
}

@media print {
  .print {
    width: 264px;
    font-family: Courier Prime, monospace;
    margin: auto;
    font-weight: 500;
    font-size: 0.9rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }

  .hidden-print,
  .hidden-print * {
    display: none !important;
  }
}
